html,
body {
    margin: 0;
    padding: 0;
    background-color: gray;
}

.main {
    padding-top: 150px;
}

.calculator {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border: 2px solid #000;
    border-radius: 5px;
    text-align: center;
    background-color: black;
}

.display {
    width: 100%;
    display: flex;
}

input {
    display: flex;
    width: 218px;
    padding: 5px;
    font-size: 27px;
    background-color: white;
    outline: none;
    border: none;
}

.AC-btn {
    font-size: 27px;
    padding: 5px;
    width: 75px;
    background-color: RoyalBlue;
    border: none;
    outline: none;
    cursor: pointer;
}

.buttons button {
    width: 72px;
    padding: 5px;
    height: 65px;
    font-size: 27px;
}

.num-btn {
    background-color: black;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

.fun-btn {
    background-color: gray;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    width: 80px;
}